:root {
    --white: #FFFFFF;
    --purple: #CA7EFC;
    --background: #724CFB;
    --yellow: #EED847;
    --black: #402995;
}

* {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 25px 25px 25px;
    align-items: center;
    font-size: 24px;
}

header img {
    width: 40px;
    height: 40px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#navbar li {
    display: inline-block;
    margin: 0 30px;
}

#navbar a {
    text-decoration: none;
    text-transform: none;
    color: var(--yellow);
}

#navbar a:link {
    text-decoration: none;
    text-transform: none;
    color: var(--yellow);
}

#navbar a:active {
    text-decoration: none;
    text-transform: none;
    color: var(--yellow);
}

#navbar a:hover {
    text-decoration: none;
    text-transform: none;
    color: var(--yellow);
}

#navbar a:visited {
    text-decoration: none;
    text-transform: none;
    color: var(--yellow);
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile a {
    color: var(--white);
    margin: 0px 15px 0px 0px;
    font-weight: 200;
}

/* intro */

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px 50px 200px;
}

#intro-text {
    margin: 0px 0px 0px 100px;
}

#intro h2 {
    font-size: 48px;
    font-weight: 800;
    color: var(--yellow);
}

#intro p {
    font-size: 24px;
    font-weight: 200;
    color: var(--white);
}

/* server */

#server {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px 500px 50px 500px;
}

#server-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#server-title img {
    width: 50px;
    height: 50px;
}

#server-title h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--yellow);
    padding-left: 10px;
}

#server-text {
    color: var(--white);
    font-size: 24px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}

#server-button button {
    background-color: var(--black);
    border: none;
    color: var(--yellow);
    padding: 10px;
    text-align: center;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#server-button button:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#server-button p {
    font-size: 20px;
    font-weight: 200;
    color: var(--white);
}

#server a {
    text-decoration: none;
    color: var(--white);
}

/* jobs */

#jobs {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px 200px 50px 200px;
}

#jobs-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#jobs-title img {
    width: 50px;
    height: 50px;
}

#jobs-title h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--yellow);
    padding-left: 10px;
}

#jobs-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

#jobs-text p {
    color: var(--white);
    font-size: 24px;
    font-weight: 200;
}

#job-offers ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    gap: 10px;
}

#jobs button {
    background-color: var(--black);
    border: none;
    color: var(--yellow);
    padding: 10px;
    text-align: center;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#jobs button:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#jobs p {
    font-size: 24px;
    font-weight: 200;
    color: var(--white);
}

/* partner companies */

#partner-companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 200px 50px 200px;
}

#partner-companies h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--yellow);
    align-items: center;
}

#partner-companies ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 200px;
}

#partner-companies h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

/* articles */

#articles {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px 200px 50px 200px;
}

#article-background {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

#articles h2 {
    font-size: 36px;
    font-weight: 800;
    color: var(--yellow);
}

#articles-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    gap: 10px;
}

#article {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
}

#article-text {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-left: 30px;
    background-color: var(--white);
}

#article a {
    text-decoration: none;
    display: flex; 
    align-items: center;
    background-color: var(--white);
}

#article h3 {
    font-size: 32px;
    font-weight: 800;
    color: var(--black);
    text-align: left;
    margin: 0px;
    background-color: var(--white);
}
#article-image img {
    background-color: var(--white);
}

#article p {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    background-color: var(--white);
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white);
    font-size: 15px;
    font-weight: 200;
}